[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = http://github.com/tpope/vim-rails.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/twilight"]
	path = bundle/twilight
	url = git@github.com:lordzork/vim-twilight.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = http://github.com/tpope/vim-pathogen.git
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = http://github.com/chrismetcalf/vim-scratch.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim.git
